server {
  listen 8000;

  server_name {{ http_host }};

  location / {
      try_files $uri/index.html $uri.html $uri @app;
  }

  location @app {
      proxy_pass http://127.0.0.1:9000;
  }

  error_page 500 502 503 504 /500.html;
}
